
{% extends "design.html" %}
{% block script %}

{% endblock script %}
{% block my_content %}


<!-- Content Header (Page header) -->
<div class="content-header" align="center">
  <div class="container-fluid" align="center">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">How To use the COVID-19 Web Dashboard </h1>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<div class="container-fluid">
    <div class="card" >
        <div class="row">
            <div class="col-lg-10">
             <div class="card" >
            <h3 class="m-0 text-dark" align = "left">Home Page</h3>
            <p>The home page consists of intractable graphs which explains the words, hashtags and sentiments used in
                datasets which has been manually collected and preprocessed.The main aim of the project is to get insights
                from twitter data on COVID-19 Pandemic.The data was collected under 3 topics,they are as follows:
                <br>
                - COVID-19 in General
                <br>
                - COVID-19 Vaccination
                <br>
                - COVID-19 Restriction
            </p>
             </div>
             <div class="card" >
            <h3 class="m-0 text-dark"  align = "left">Interactive Visualisation Page</h3>
            <p>The home page consists of intractable graphs which explains the words, hashtags and sentiments used in
                datasets which has been manually collected and preprocessed.The main aim of the project is to get insights
                from twitter data on COVID-19 Pandemic.The data was collected under 3 topics,they are as follows:

                - COVID-19 in General
                - COVID-19 Vaccination
                - COVID-19 Restriction
            </p>
             </div>
                 <div class="card" >
            <h3 class="m-0 text-dark"  align = "left">Live Tweet Analysis Page</h3>
            <p>The home page consists of intractable graphs which explains the words, hashtags and sentiments used in
                datasets which has been manually collected and preprocessed.The main aim of the project is to get insights
                from twitter data on COVID-19 Pandemic.The data was collected under 3 topics,they are as follows:

                - COVID-19 in General
                - COVID-19 Vaccination
                - COVID-19 Restriction
            </p>
            </div>
            <div class="card" >
            <h3 class="m-0 text-dark">Covid Cases Dashboard Page</h3>
            <p>The home page consists of intractable graphs which explains the words, hashtags and sentiments used in
                datasets which has been manually collected and preprocessed.The main aim of the project is to get insights
                from twitter data on COVID-19 Pandemic.The data was collected under 3 topics,they are as follows:

                - COVID-19 in General
                - COVID-19 Vaccination
                - COVID-19 Restriction
            </p>
            </div>
            </div>
        </div>
    </div>
</div>


{% endblock my_content %}